#main{
    background-color:#ccc;
    height:300px;
    border-radius:30px;
    text-align: center;
    margin: auto;
}
h1{
    color:#fff;
    background-color:#333;
    border-top-right-radius:30px;
    border-top-left-radius:30px;
    padding: 10px 0;
}
input{
padding: 10px 0;
border-radius: 15px;
text-align: center;
margin-bottom: 10px;
border: none;
}
label{
    color: #333;
    font-size: 20px;
    font-weight: 600;
}
.submit{
    padding:10px;
    border-radius:0;
    width: 250px;
    height: 30px;
    background-color: #5f5;
    margin-top: 10px;
}